<div>
  <h1 class="h3 mb-3 fw-normal">Seleccionar monto del préstamo</h1>
  <form id="monto" [formGroup]="amountForm">
    <mat-form-field class="ancho">
      <input matInput type="number" placeholder="Monto del préstamo" [(ngModel)]="montoSolicitado" min="{{minimo  | currency }}"
        max="{{maximo  | currency }}" (change)="onChangeEvent($event)" formControlName="loanAmount" id="loanAmount">
      <mat-label for="monto">Valor entre $100.000 y $5.000.000</mat-label>
    </mat-form-field>
  </form>
</div>
