<div class="contenedor-tabla mt-5">
  <h1 class="text-center fs-2 fw-semibold">Lista de clientes</h1>
  <mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Columnas de la tabla -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let client"> {{ client.name }} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let client"> {{ client.email }} </td>
  </ng-container>
  <ng-container matColumnDef="cedula">
    <th mat-header-cell *matHeaderCellDef> Cédula </th>
    <td mat-cell *matCellDef="let client"> {{ client.identification }} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let client" style="text-align: center;">
      <button mat-icon-button color="warn" (click)="onDeleteClient(client.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['name', 'email', 'cedula', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'cedula', 'actions']"></tr>
</mat-table>
</div>
